<!DOCTYPE html>
<html>
<head>
    <title>Edit Identitas</title>
</head>
<body>

<h2>Edit Identitas Diri</h2>

<form method="post">
    Nama:<br>
    <input type="text" name="nama" value="{{ data[1] }}"><br><br>

    NIM:<br>
    <input type="text" name="nim" value="{{ data[2] }}"><br><br>

    Program Studi:<br>
    <input type="text" name="prodi" value="{{ data[3] }}"><br><br>

    Fakultas:<br>
    <input type="text" name="fakultas" value="{{ data[4] }}"><br><br>

    <input type="submit" value="Update">
</form>

</body>
</html>