<!DOCTYPE html>
<html>
<head>
    <title>Data Identitas Diri</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h2 class="title">Data Identitas Diri</h2>

    <a href="/add" class="btn primary">Tambah Data</a>

    <br><br>

    <table border="1" cellpadding="10" width="100%">
        <tr style="background:#eee">
            <th>ID</th>
            <th>Nama</th>
            <th>NIM</th>
            <th>Prodi</th>
            <th>Fakultas</th>
        </tr>

        {% for d in data %}
        <tr>
            <td>{{ d[0] }}</td>
            <td>{{ d[1] }}</td>
            <td>{{ d[2] }}</td>
            <td>{{ d[3] }}</td>
            <td>{{ d[4] }}</td>
            <td>
                <a href="/edit/{{ d[0] }}" class="btn primary">Edit</a>
                <a href="/delete/{{ d[0] }}" class="btn danger">Hapus</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

</body>
</html>